* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  height: 100vh;
}

section.side-bar {
  height:800px !important;
  background-color: #faffc1;

  width: 20%;
}
section img {
  width: 80px;
  margin: 5px 0;
}
section h1 {
  font-size: 14px;
}
section p {
  font-size: 14px;
}
.icon {
  font-size: 15px;

  margin-right: 10px;
}
.header-bar {
  position: absolute;
  width: 80%;
  top: 0;
  right: 0;
}
.card-items {
  position: absolute;
  width: 80%;
  top: 15%;
  right: 0;
}
.card-item {
  border-radius: 10px;
  color: rgb(255, 255, 255);
  margin: 15px 10px;
  width: 220px;
  padding: 20px 40px;
}
.card-item span {
  position: relative;
  margin-left: 90%;
}
.card-item i {
  font-size: 25px;
}
.card-item h3 {
  font-size: 13px;
  font-style: oblique;
  color: grey;
}
.card-1 {
  background-color: #c7e0f1;
}
.card-2 {
  background-color: #f1dbe9;
}
.card-3 {
  background-color: #eee9cf;
}
.card-3 span {
  position: relative;
  margin-left: -5%;
}

.card-4 {
  background: linear-gradient(110.42deg, #00c1fe 18.27%, #faffc1 91.84%);
}

.my-list a i {
  color: black;
}
input[type="button"] {
  background: none;
  border: none;
  margin: 0;
  text-transform: capitalize;
}
a:hover input[type="button"],
a:hover i {
  color: white;
}

.my-list a:hover {
  background: #47aeff;
}

/* header and table student page*/
.student-list {
  position: absolute;
  width: 75%;
  height: 8%;
  top: 15%;
  right: 3%;
  display: flex;
  justify-content: space-between;
}
.btn-icons {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
}
.line {
  content: "";
  position: absolute;
  top: 25%;
  right: 5%;
  width: 70%;
  height: 2px;
}
.my-table {
  width: 70%;
  position: absolute;
  top: 30%;
  right: 6%;
}
.my-table tr {
  background-color: white;
}
.my-table th {
  font-size: 12px;
  color: grey;
}
.my-table td {
  font-size: 9px;
}
.my-table th img {
  width: 30px;
}

/*  header and table payment page*/
.payment {
  position: absolute;
  width: 75%;
  height: 8%;
  top: 15%;
  right: 3%;
  display: flex;
  justify-content: space-between;
}

.my-table2 {
  width: 70%;
  position: absolute;
  top: 30%;
  right: 6%;
}
.my-table2 tr:nth-child(2n) {
  background-color: #f1ecec;
}
.my-table2 tr {
  background-color: white;
}
.my-table2 th {
  font-size: 12px;
  color: grey;
}
.my-table2 td {
  font-size: 9px;
}
.my-table2 th img {
  width: 30px;
}
@media screen and (max-width: 900px) {
  .btn {
    font-size: 8px;
  }
}

@media screen and (max-width: 600px) {
  section img {
    width: 40px;
    margin: 5px 0;
  }
  section h1 {
    font-size: 8px;
    padding: 5px 5px !important;
  }
  /* student css */
  .btn {
    font-size: 8px;
  }
  .my-table {
    width: 18%;
  }
  .my-table th {
    font-size: 7px;
  }
  .my-table td {
    font-size: 4px;
  }

  /* payment css*/
  .my-table2 {
    width: 20%;
  }
  .my-table2 th {
    font-size: 7px;
  }
  .my-table2 td {
    font-size: 4px;
  }

  .my-table2 {
    width: 20%;
  }
  .my-table2 th {
    font-size: 7px;
  }
  .my-table2 td {
    font-size: 4px;
  }
}
