@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Libre+Baskerville:wght@700&family=Montserrat:wght@200;500;600;700&family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400&family=Roboto:wght@300;400;500&family=Ubuntu:wght@300;400;500&display=swap");
body {
  height: 100vh;
  background: linear-gradient(69.66deg, #00c1fe 19.39%, #faffc1 96.69%);
}

.my-card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
.sb-title {
  font-size: 12px !important;
}
.link {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
::placeholder {
  font-size: 13px;
}
