*
{
    box-sizing: border-box;
    
} 
a 
{
    text-decoration: none;
}
 body
{
    height: 100vh;
     background-color: #E5E5E5;
}

 section.side-bar
 {
     height: 100vh !important;
     background-color: #FAFFC1;
     width: 20%;
 }
section img 
{
    width: 80px;
    margin: 5px 0;
}
section h1 
{
    font-size: 14px;
}
section p 
{
    font-size: 14px;
}
.icon 
{
    font-size: 15px;

   margin-right: 10px;

}
.header-bar 
{
    position: absolute;
    width: 80%;
    top: 0;
    right: 0;
}
.payment
{
    position: absolute;
    width: 75%;
    height: 8%;
    top: 15%;
    right: 3%;
    display: flex;
    justify-content:space-between;
}

.line 
{
  content: "";
  position: absolute;
  top: 25%; 
  right: 5%;
    width: 70%;
    height: 2px;
 
}

.my-table 
{
    width: 70%;
    position: absolute;
    top: 30%;
    right: 6%;
}
.my-table tr:nth-child(2n)
{
    background-color:#f1ecec;
}
.my-table tr 
{
    background-color: white;
}
.my-table th 
{
    font-size: 12px;
    color: grey;

}
.my-table td 
{
    font-size: 9px;
}
.my-table th img 
{
    width: 30px;
}











@media screen and  (max-width:500px) {
    section img 
{
    width: 40px;
    margin: 5px 0;
}
section h1 
{
    font-size: 8px;
    padding: 5px 5px !important;
}

.my-table 
{
    width: 20%;
}
.my-table th 
{
    font-size: 7px;
}
.my-table td 
{
    font-size: 4px;
}

.my-table 
{
    width: 20%;
}
.my-table th 
{
    font-size: 7px;
}
.my-table td 
{
    font-size: 4px;
}


}